<md-content class="about" flex-offset="20" flex="60" layout="column">
  <h3 class="md-headline">{{ 'ABOUT.TITLE' | translate }}</h3>
  <h5 class="md-title">
    Source Code on <a class="about-link" href="https://github.com/jigsawye/angular-es2015-demo-app">
        <i class="fa fa-github"></i> GitHub
    </a>
  </h5>
  <h4 class="md-title">Module</h4>
  <pre>src/components/about/about.js</pre>
  <h4 class="md-title">Controller</h4>
  <pre>src/components/about/about.controller.js</pre>
  <h4 class="md-title">View</h4>
  <pre>src/components/about/about.html</pre>
</md-content>
