<md-toolbar class="md-whiteframe-2dp header-toolbar">
  <div class="md-toolbar-tools">
    <h2>
      <span>{{ 'HEADER.APPNAME' | translate }}</span>
    </h2>
    <span flex></span>
    <md-button class="md-primary header-button" ui-sref="home">
        {{ 'HEADER.HOME' | translate }}
    </md-button>
    <md-button class="md-primary header-button" ui-sref="user.list">
        {{ 'HEADER.USER' | translate }}
    </md-button>
    <md-button class="md-primary header-button" ui-sref="about">
        {{ 'HEADER.ABOUT' | translate }}
    </md-button>
    <md-select
      aria-label="language"
      class="md-body-1"
      ng-model="header.selectedLanguage"
      ng-change="header.changeLanguage()">
      <md-option ng-value="language.key" ng-repeat="language in header.languages">
        {{ language.name }}
      </md-option>
    </md-select>
  </div>
</md-toolbar>
