<md-toolbar class="md-whiteframe-2dp header-toolbar">
  <div class="md-toolbar-tools">
    <h2>
      <span>{{ header.title }}</span>
    </h2>
    <span flex></span>
    <md-button class="md-primary header-button" ui-sref="home">
        Home
    </md-button>
    <md-button class="md-primary header-button" ui-sref="user.list">
        User
    </md-button>
    <md-button class="md-primary header-button" ui-sref="about">
        About
    </md-button>
  <!--   <md-select ng-model="header.selectedLanguage" placeholder="Select a Language">
       <md-option ng-value="opt" ng-repeat="opt in header.languages">{{ opt }}</md-option>
    </md-select> -->
  </div>
</md-toolbar>
